<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign In</title>
    <style>
        body {
            background-color: rgb(255, 255, 128);
            font-family: Arial, sans-serif;
        }
        form {
            display: flex;
            flex-direction: column;
            width: 300px;
            margin: auto;
        }
        input {
            margin: 10px 0;
            padding: 8px;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">Sign In</h1>

    <form th:action="@{/Questions/User/SignIn}" method="post" th:object="${userAcc}" >
        <input type="text" placeholder="Enter Your Email" th:field="*{Email}" required />
        <input type="text" placeholder="Enter Your Password" th:field="*{Password}" required />
        <input type="submit" value="Submit" />
    </form>
</body>
</html>
